
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}  
.hero{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(641460.jpg);
    background-size: cover;
    background-position: center;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10%;
}
.logo{
    color: white;
    font-size: 28px;

}
span{
    color: #ea1538;
    font-size: auto;
}
nav ul li{
    list-style-type:none;
    display:inline-block;
    padding:10px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:#ea1538;
    transition:.3s;
}    


input{
    width: 70%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border:2px solid black;
    display: inline-block;
    width: 220px;
}
.box:hover{
    background-color: purple;
    color: white;
}
/* .products{
    text-align: center;
} */
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;

}
a{
    text-decoration: none;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.content{
    width: 20px;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: transition(opx, -8px);
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;

}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h6{
    font-size: 20px;
    text-align: center;
    color: 22f3e;

}

}
/* .about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color:white;
    text-align:center;
    padding: 40px;
} */